*.sdf
*.*sdf
Debug/
Debug/*
ipch/*
ipch/
Starcraft2GameStateReader/Debug/
Starcraft2GameStateReader/Debug/*
*.sdf
*.*sdf
Debug\
Debug\*
ipch\*
ipch\
Starcraft2GameStateReader\Debug\
Starcraft2GameStateReader\Debug\*
*.suo