*.sdf
*.*sdf
Debug/
Debug/*
ipch/*
ipch/
Starcraft2GameReader/Debug/
Starcraft2GameReader/Debug/*
*.sdf
*.*sdf
Debug\
Debug\*
ipch\*
ipch\
Starcraft2GameReader\Debug\
Starcraft2GameReader\Debug\*
*.suo